@import "./resets";
@import "./variables";
@import "./functions";

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

body {
    background-color: $background;

    .flex__container{
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
}

    .main{
        width: 80%;
        margin: 0 auto;

        .flex__container {
            @include flexCenter(row);
        }

        h2 {
            color: $theme;
            font-weight: weight(bold);
            font-size: map-get($font-sizes, lg);
            padding: 20px;
        }

        #{&}__paragraph{
            color: $font-color;
            font-weight: weight(light);
            font-size: map-get($font-sizes, sm);
            &:hover {
                color:pink;
            }
        }
        span {
            font-weight: weight(medium);
            font-size: map-get($font-sizes, md);
        }
    }

    .sidebar {
        width: 20%;
        margin-top: 50px;
        text-align: center;
        .flex__container{
            @include flexCenter(column);
        }
    }