@import "./resets";
@import "./variables";
@import "./functions";

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile){
        @content;
    }
}

body {
    background-color: $background;

    .flex__container{
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
}

.main{
    width: 80%;
    margin: 0 auto;

    .flex__container {
        @include flexCenter(row);
            
        @include mobile{
            flex-direction: column;
        }
    }


    h2 {
        color: $theme;
        font-weight: weight(bold);
        font-size: map-get($font-sizes, lg);
        padding: 20px;
    }

    #{&}__paragraph1{
        color: $font-color;
        font-weight: weight(light);
        font-size: map-get($font-sizes, sm);
        &:hover {
            color:pink;
        }
    }

    #{&}__paragraph2{
        @extend .main__paragraph1;
        color: gray;
    }

    #{&}__paragraph3{
        @extend .main__paragraph1;
        color: black;
        &:hover {
            color: $accent-color;
        }
    }
    
    span {
        font-weight: weight(medium);
        font-size: map-get($font-sizes, md);
    }
}


.light{
    @include theme(true);
}

.sidebar {
    width: 20%;
    margin-top: 50px;
    text-align: center;
    .flex__container{
        @include flexCenter(column);
    }
}